@import url('https://fonts.googleapis.com/css2?family=Varta:wght@300;400&display=swap');

html {
    min-height: 100%;
}

body {
    /* font-family: 'Varta', sans-serif; */
    height: 100%;
    margin: 0;
    
    background: #f5f5f5;
    
    
}